<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FC2LiveCommentTalker2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V2/soap.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService" contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <FC2LiveCommentTalker2.My.MySettings>
            <setting name="Channel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="AutoSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreNGuser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TalkName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Suffix" serializeAs="String">
                <value>以下略</value>
            </setting>
            <setting name="MultiLang" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyLocation" serializeAs="String">
                <value>0, 17</value>
            </setting>
            <setting name="UseKorean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseChinese" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEnglish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceJAName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JAvoice" serializeAs="String">
                <value />
            </setting>
            <setting name="ENvoice" serializeAs="String">
                <value />
            </setting>
            <setting name="KOVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="ZHVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="Translate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyClientSize" serializeAs="String">
                <value>414, 328</value>
            </setting>
            <setting name="Bouyomi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Async" serializeAs="String">
                <value>False</value>
            </setting>
        </FC2LiveCommentTalker2.My.MySettings>
    </userSettings>
</configuration>
